In [2]:
import requests
import pandas as pd
import requests as re

In [14]:
FMP_KEY = "537a2a5b6c9f39cc03312110beef039b"
print(FMP_KEY)

537a2a5b6c9f39cc03312110beef039b

In [23]:
r = requests.get("https://financialmodelingprep.com/api/v3/income-statement/SBUX", params={
    'limit':120,
    'apikey':FMP_KEY
})

In [24]:
dt = r.json()
data = pd.DataFrame(data=dt)

In [25]:
data

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2021-10-03,SBUX,USD,0000829224,2021-11-19,2021-11-19 16:46:02,2021,FY,29060600000,20669600000,...,0.184335,1156600000,4199300000,0.144501,3.568394,3.544304,1178500000,1186200000,https://www.sec.gov/Archives/edgar/data/829224...,https://www.sec.gov/Archives/edgar/data/829224...
1,2020-09-27,SBUX,USD,0000829224,2020-11-12,2020-11-12 16:59:07,2020,FY,23518000000,18458900000,...,0.049511,239700000,928300000,0.039472,0.791187,0.790000,1173300000,1181800000,https://www.sec.gov/Archives/edgar/data/829224...,https://www.sec.gov/Archives/edgar/data/829224...
2,2019-09-29,SBUX,USD,0000829224,2019-11-15,2019-11-15 16:16:58,2019,FY,26508600000,19020500000,...,0.168481,871600000,3599200000,0.135775,2.918590,2.918590,1233200000,1233200000,https://www.sec.gov/Archives/edgar/data/829224...,https://www.sec.gov/Archives/edgar/data/829224...
3,2018-09-30,SBUX,USD,0000829224,2018-11-16,2018-11-16 16:44:31,2018,FY,24719500000,17367700000,...,0.233823,1262000000,4518300000,0.182783,3.451455,3.240000,1309100000,1394600000,https://www.sec.gov/Archives/edgar/data/829224...,https://www.sec.gov/Archives/edgar/data/829224...
4,2017-10-01,SBUX,USD,0000829224,2017-11-17,2017-11-17 16:10:18,2017,FY,22386800000,15531500000,...,0.192859,1432600000,2884700000,0.128857,1.973790,1.973790,1461500000,1461500000,https://www.sec.gov/Archives/edgar/data/829224...,https://www.sec.gov/Archives/edgar/data/829224...

In [4]:
df = pd.read_csv('./directory.csv')
df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [6]:
locs = df[['Longitude', 'Latitude']]